@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}
html{
    scroll-behavior: smooth;
}

.container {
    position: relative;
    height: 100vh;
    /* width: 100%; */
    max-width: 100%;
    background: url(../imgs/Rectangle\ 2.png) no-repeat scroll center center;
    background-size: 100% 100%;
    z-index: 50px;
}

.container .menu {
    position: relative;
    font-size: 20px;
    color: white;
    z-index: 3;
    cursor: pointer;
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 500px;
}

.container::before {
    content: '';
    position: absolute;
    background: #414141BF;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container .header {
    z-index: 3;
    position: relative;
    width: 1310px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 64px auto;
    padding-right: 20px;
}

.header::before {
    content: '';
    position: absolute;
    background: #F5F5F5;
    opacity: 0.2;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
}

.header ul {
    cursor: pointer;
    position: relative;
    z-index: 9;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.header ul li a {
    position: relative;
    font-family: Inter;
    font-size: 25px;
    font-weight: 800;
    text-decoration: none;
    color: white;
    line-height: 30px;
    text-align: left;
}

.container .text {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-self: flex-end;
    align-items: flex-end;
    align-self: flex-end;
}

.container .text h1,
.container .text p {
    font-family: Inter;
    font-size: 65px;
    font-weight: 800;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.container .text p {
    font-size: 35px;
    font-weight: 400;
    align-self: center;
    justify-self: center;
}

@media (max-width:786px) {
    .container {
        max-width: 786px;
        min-height: 900px;
        background-size: content;
        /* display: grid;
        grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); */
    }

    .container .content {
        gap: 100px;
        justify-content: center;
        align-items: center;
    }

    .header ul {
        margin-top: 60px;
        flex-direction: column;
        text-align: left;
        direction: rtl;
        display: none;
    }

    .header ul.active {
        margin-top: 60px;
        flex-direction: column;
        text-align: left;
        display: flex;
    }

    .container .menu {
        display: block;
    }

    .menu.active::after {
        width: 200px;
        height: 300px;
    }

    .menu::after {
        content: '';
        opacity: 0.8;
        top: 20px;
        left: 0;
        position: absolute;
        z-index: 3;
        width: 0;
        height: 0;
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        width: 200px;
    }

    .header ul li {
        margin: 10px;
    }

    .header::before {
        display: none;
    }

    .container .text {
        margin: 20px 172px;
        flex: 1;
        flex-wrap: wrap;
    }

    .text {
        display: flex;
        flex-direction: row;
    }

    .container .text p {
        font-size: 20px;
        font-weight: 300;
    }

    .container .text h1 {
        font-size: 32px;
        font-weight: 500;
    }

    body {
        overflow-x: hidden;

        max-width: 786px;
        height: 100vh;
    }
}

.container2 {
    padding: 50px;
    height: 100vh;
    max-width: 100%;
}

.container2 .content2 {
    display: flex;
    flex-direction: column;
}

.container2 .content2 .half1 {
    position: relative;
    align-self: flex-end;
    display: flex;
}

.container2 .content2 .half1 a {
    align-self: center;
    margin-right: 163px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: right;
    color: black;
}

.container2 .content2 .half2 {
    display: flex;
    position: relative;
    align-self: flex-start;
}

.container2 .content2 .half2 a {
    align-self: center;
    margin-left: 376px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: right;
    color: black;
}

@media (max-width:786px) {

    .container2 {
        padding: 20px;
        padding-left: 10px;
    }

    .container2 .content2 .half1 {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        max-width: 786px;
        align-self: center;
        justify-content: center;
        align-items: center;
    }

    .container2 .content2 .half1 a {
        margin-right: 0 !important;
        margin-top: 20px;
        font-size: 30px;
    }

    .container2 .content2 .half2 img,
    .container2 .content2 .half1 img {
        width: 200px !important;
        height: 200px !important;
        border-radius: 50% !important;
    }

    .container2 .content2 .half2 {
        margin-top: 97px;
        flex-direction: column;
        max-width: 786px;
        align-self: center;
        justify-content: center;
        align-items: center;
    }

    .container2 .content2 .half2 a {
        margin-left: 0 !important;
        margin-top: 20px;
        font-size: 30px;
    }
}

.container3 {
    padding: 50px;
    height: 80vh;
    max-width: 100%;
    background: #474545;
    direction: rtl;
    color: white;
    margin-top: 50px;
}

.text1 h1 {
    font-family: Inter;
    font-size: 50px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: right;
    text-decoration: underline;
    margin-bottom: 40px;
}

.text1 p {
    font-family: Inter;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: right;
    margin-bottom: 40px;
}
.text2 h1{
font-family: Inter;
font-size: 35px;
font-weight: 800;
line-height: 42px;
letter-spacing: 0em;
text-align: right;
margin-bottom: 40px;
}
.text2  ul li{
    font-family: Inter;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: right;
    margin-bottom: 10px;
}
@media (max-width:768px){
    .container3{
        height: 121vh;
        
    }
    .text2 h1{
        margin: 10px;
        line-height: 40px;
    font-size: 20px;
    text-decoration: underline;

    }
    .text1 h1{
        margin: 10px;
        font-size: 25px;

        line-height: 40px;
    }
    .text1 p{
        font-size: 15px;
        font-weight: 200;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .text2  ul li{
        font-size: 18px;
        font-weight: 200;
        line-height: 20px;
    }
}

@media (max-width:1653px) {
    .container{
        height: 135vh;
    }
    .container2{
        height: 130vh;
    }
    .container3{
        height: 110vh;
    }
    /* .container2 .half1 img, .container2 .half2 img{
        width: 400px;
        height: 400px;
    } */
    .container2 .half1 a, .container2 .half2 a{
        font-size: 35px;
    }
    .container2 .content2 .half2{
        margin-top:10px; 
    }
    .container2 .content2 .half2 a{
        margin-left: 251px;
    }
    .container2 .content2 .half2 img,
    .container2 .content2 .half1 img {
        width: 800px;
        height: 480px;
        /* border-radius: 50%; */
    }
}