*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container {
    position: relative;
    height: 100vh;
    max-width: 100%;
    background: url(../imgs/image\ 5.png) no-repeat scroll;
    /* background-size: contain; */
    background-size: contain;
    background-position: center;
}
.container .main-text {
    z-index: 1;
    position: relative;
    max-width: 993px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 64px auto;
    padding-right: 20px;
}

.container .main-text::before {
    content: '';
    position: absolute;
    background: #F5F5F5;
    opacity: 1;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
}
.container .main-text h1 {
    font-family: Inter;
    font-size: 50px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
}

.icon{
    z-index: 1;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 64px auto;
    /* padding-right: 20px; */
}
.icon i{
    font-size: 45px;
    color: black;
    text-align: center; 
    align-self: center;
    justify-self: center; 
}
.icon::before{
    content: '';
    position: absolute;
    background: #F5F5F5;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
}
.container form  {
display: flex;
justify-content: center ;
align-items: center;
margin: -10px auto;
flex-direction: column;
direction: rtl;
padding: 30px;
}
.container form .input{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}
.container form .input label{
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: right;
    align-self: flex-start;

}
.container form .input input{
    border: none;
    background: #D9D9D9;
    outline: none;
    font-size: 30px;
    background-blend-mode: multiply;
    width: 987px;
    height: 89px;
    align-self: flex-start;
    padding: 30px;
    opacity:  0.6;
}

.container form .input{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

.container form .login-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container form .login-btn button{
    width: 424px;
    height: 71px;
    margin-bottom: 20px;
    border: none;
    background: #D9D9D9;
}
.container form .login-btn button  a{
    color: black;
    text-decoration: none;
    font-family: Inter;
font-size: 50px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0em;
text-align: left;
}

.container form .login-btn  a{
    font-family: Inter;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color:black;    
}



@media (max-width:786px) {
    .container form {
padding: 10px;
    }
    .container form .email label, .container form .password label{
        font-size: 30px;
        font-weight: 800;
        line-height: 48px;
        align-self:center ;
        
    }
    .container form .input input,.container form .login-btn button{
    width:  100%;
    }
    .container .main-text h1{
        font-size: 30px;
        font-weight: 800;
    }

    .container form .login-btn button  a{
    font-size: 30px;
    width:  100%;
    height: 71px;
    }
    .create-acc button{
        width: 289px;
    }
    .login-btn button{
        width: 40%  !important;
    }

}
@media (max-width:1653px) {
    .icon{
    top: -20px;
    }
}